{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Upload Data</title>
{% endblock %}

{% block body %}
    Welcome to upload data!<br><br>

    <form action="{% url 'upload_data' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter name" name="name">
          <small id="nameHelp" class="form-text text-muted">Potaanu j naam lakhje!</small>
        </div><br>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
            <small id="emailHelp" class="form-text text-muted">This email ID would be used only for spamming purpose.</small>
        </div><br>
        <div class="form-group">
            <label for="exampleInputComment">Something Else</label>
            <input type="text" class="form-control" id="exampleInputComment" aria-describedby="commentHelp" placeholder="Enter comment" name="comment">
            <small id="commentHelp" class="form-text text-muted">Panchaat goes here...</small>
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
        
    <br><br>
    <a href="{% url 'patient_dash' %}">Back to Patient Dashboard</a>
{% endblock %}